body{
    background-color: #f5f5f5;
}
header {
    display: flex;
    min-height: 80px;
    background-color: #e8e8db;
}

header p{
    font-family: 'Calibri', sans-serif;
    color: #116466;
}


a {
    text-decoration: none;
}




.insti_img img {
    min-height: 300px;
    width: 100%;
}






.explore{
    flex: 1;
}

.contact{
    flex: 1;
}

.head_info{
    margin-bottom: 25px;
}

.head_info p{
    font-family: 'Calibri';
    font-size: 1.1rem;
    color: #d9b08c;
    margin: 10px 0px 0px 30px;
    /* line-height: 1.3rem;  */
    text-align: center;   
}

.footer_head p{
    font-family: 'Agency FB';
    font-size: 1.8rem;
    color: #f5f5f5;
    padding-top: 25px;
    text-align: center;
    padding-bottom: 10px;
}

.copyright{
    min-height: 40px;
    background-color: black;
    color: #f5f5f5;
    font-family: 'Calibri';
    font-size: 1.1rem;
    text-align: center;
    padding-top: 10px;
}



@media (max-width:500px){
    header {
        display: block;
        min-height: 80px;
        background-color: #e8e8db;
    }
    
  
   
    
    
    
}


/* aboutus page */
.aboutus_head{
    background-color: #2c3531;
    min-height: 60px;
    font-family: 'Azonics';
    font-weight: 600;
    font-size: 2rem;
    color: #f5f5f5;
    padding-top: 15px;
    padding-left: 6%; 
}

.aboutus_row{
    min-height: 300px;
    display: flex;
    margin: 80px 10%;
    justify-content: space-between;
}

.aboutus_col1{
    flex: 1;
    background-color:#d1e8e2;
    min-width: 30%;
    min-height: 250px;
    margin-right: 15%;
    box-shadow: 11px 15px 5px rgba(0, 0, 0, 033.33%);
}

.aboutus_col2{
    flex: 1;
    background-color: #d1e8e2;
    min-height: 250px;
    box-shadow: 11px 15px 5px rgba(0, 0, 0, 033.33%);
}

.aboutus_col3{
    background-color:#d1e8e2;
    min-height: 250px;
    width: 50%;
    box-shadow: 11px 15px 5px rgba(0, 0, 0, 033.33%);
    margin: 0px 30%;
}

.text_head{
    min-height: 50px;
    background-color: #116466;
    color: #f5f5f5;
    font-family: 'Calibri';
    font-size: 1.5rem;
    padding-top: 15px;
    text-align: center;
}

.text {
  text-align: center;
  margin: 25px 10%;
  color: #116466;
  font-family: 'Calibri';
  font-size: 1.2rem;
}


.marque-css{
    min-height: 50px;
    padding-top: 15px;
    text-align: center;
}

.marque-css li{
  margin-bottom: 5px;
}

.marque-css a{
  text-decoration: none;
  color: #116466;
  font-family: 'Calibri';
  font-size: 1.4rem;
}




@media (max-width:800px){
    .aboutus_row{
        display: block;
        margin-bottom: 20px;
    }

    .aboutus_col1{
        margin: auto;
        margin-bottom: 80px;
    }

    .aboutus_col2{
        margin: auto;
        margin-bottom: 40px;
    }

    .aboutus_col3{
        margin: auto;
        width: 95%;
    }

    .text {
      text-align: center;
      margin: 30px 10%;
      padding-bottom: 40px;
    }

}

