body{
    background-color: #f5f5f5;
}
header {
    display: flex;
    min-height: 80px;
    background-color: #e8e8db;
}

header p{
    font-family: 'Calibri', sans-serif;
    color: #116466;
}


a {
    text-decoration: none;
}






.insti_img img {
    min-height: 300px;
    width: 100%;
}

.explore{
    flex: 1;
}

.contact{
    flex: 1;
}

.head_info{
    margin-bottom: 25px;
}

.head_info p{
    font-family: 'Calibri';
    font-size: 1.1rem;
    color: #d9b08c;
    margin: 10px 0px 0px 30px;
    /* line-height: 1.3rem;  */
    text-align: center;   
}

.copyright{
    min-height: 40px;
    background-color: black;
    color: #f5f5f5;
    font-family: 'Calibri';
    font-size: 1.1rem;
    text-align: center;
    padding-top: 10px;
}



@media (max-width:500px){
    header {
        display: block;
        min-height: 80px;
        background-color: #e8e8db;
    }
    

    

    
 
    
}


/* contacts */

.contact_card{
    min-height: 500px;
    display: flex;
    justify-content: space-between;

}

.card1{
    min-width: 50%;
    margin: 4% 2% 4% 6%;
    background-color: #d1e8e2;
    text-align: center;
    padding-top: 20px;
}

.card2{
    min-width: 20%;
    margin: 4% 6% 2% 0%;
    text-align: center;
}

.card1 p{
    font-family: 'Agency FB';
    font-size: 1.8rem;
    font-weight: 600;
    color: #116466;
}

.card img {
    height: 100%;
}




@media (max-width:1000px){
    .contact_card{
        display: block;
    }

    .card1{
        min-width: 50%;
        min-height: 400px;
        margin: 4% 6%;
        background-color: #d1e8e2;
        text-align: center;
        padding-top: 20px;
    }

.card2{
    display: none;
}

}



.faq_head{
  min-height: 40px;
  background-color: #116466;
  color: #f5f5f5;
  font-family: 'Agency FB';
  font-size: 1.5rem;
  text-align: left;
  padding-left: 6%;
  padding-top: 8px;
}


.faq_info{
  min-height: 20px;
  background-color: #d1e8e2;
  color: #116466;
  font-family: 'Calibri';
  font-size: 1.1rem;
  text-align: left;
  padding-top: 25px;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 10px;
}


.faq_info p{
  padding-bottom: 20px;
}



.collapse{
  margin-right: 4%;
}

.collapse_btn{
  background-color: #116466;
  color: #f5f5f5; 
  border: none; 
  border-radius: 10%; 
  padding: 5px;
}
