
.logo{
    flex: 1;
    margin-right: 1%;
}

.logo img {
    background-color: #e8e8db;
    height: 80px;
    margin-left: 20%;
    

}

.insti_name {
    text-align: right;
    flex: 1;
}

.company_name p{
    font-size: 1.3rem;
    margin-top: 30px;
}


.company_name {
    background-color:#e8e8db;
    flex: 2;
    margin-left: 10px;
}




.insti_name p{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 25px;
}


@media (max-width:500px){
.logo{
    align-content: left;
    flex: 1;
}
.logo img {
    background-color: #e8e8db;
    height: 80px;
    margin-left: 25%;
    
}



.insti_name p{
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 8px;
    text-align: center;
}


.company_name p{
    font-size: 1.2rem;
    margin-top: 4px;
    text-align: center;
    padding-bottom: 10px;
}

}






/* nav bar styling */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color:#116466;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:1516px){
      
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color:#116466;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      
      display: block;
      width: 80%;
      background-color: #116466;
      height: 0px;
      transition: all 0.6s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      max-height: 900%;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
}




.footer_info{
  background-color: #2c3531;
  min-height: 100px;
  display: flex;
}
