{% extends 'base.html' %}
{% load static %}
{% block header %}
<header class="masthead" style="background-image:url('{% static 'assets/img/post-bg.jpg'%}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="post-heading">
                    
         
                </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<article>
    <div class="container">
        
<div class="border" style="padding : 10 px 10px 10px 10px ;">


<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Website</th>
        <th>contact</th>
        <th>details</th>
      </tr>
    </thead>
    
    {% for content in object_list %}
    <tbody>
        <td>{{ content.name }}</td>
        <td>{{ content.website }}</td>
        <td>{{ content.contact }}</td>
        <td>{{ content.details }}</td>
    </tbody>
    {% endfor %}

</table>

        </div>
    </div>
</article>
{% endblock content %}